<%- include('partials/header') %>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SoulSpark</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link prashanth " href="/">Home</a>
        <a class="nav-link" href="/Submit">Sumbit Secret</a>
        <a class="nav-link " href="/Secrets">View Secrets</a>
        <div class="dropdown" style="float:left;">
          <button class="dropbtn">Profile</button>
          <div class="dropdown-content" style="left:0;">
            <a class="nav-link " href="/yourcontent">Your Content</a>
            <a class="nav-link " href="/Register">Register</a>
            <a class="nav-link " href="login">Login</a>
            <a class="nav-link" href="/logout" role="button">Log Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="jumbotron centered">
  <div class="container">
    <img class="home-img" src="images/pngwing.com.png" alt="quote image not found">
    <h1 class="display-3" style="font-family: Georgia, 'Times New Roman', Times, serif;">Spark Your Soul </h1><hr>
    <p class="lead" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:#884A39"> Share Your Quotes Anonymously and Ignite the Spark of Change</p>
    <hr>
    <!-- <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a> -->

  </div>
</div>

<%- include('partials/footer') %>
