<%- include('partials/header') %>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SoulSpark</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">Menu</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " href="/">Home</a>
        <a class="nav-link" href="/Submit">Sumbit Quote</a>
        <a class="nav-link " href="/Secrets">View Quotes</a>
        <div class="dropdown" style="float:left;">
          <button class="dropbtn prashanth">Profile</button>
          <div class="dropdown-content" style="left:0;">
            <a class="nav-link " href="/yourcontent">Your Content</a>
            <a class="nav-link " href="/Register">Register</a>
            <a class="nav-link " href="login">Login</a>
            <a class="nav-link" href="/logout" role="button">Log Out</a>
          </div>
        </div>
        <a class="nav-link" href="mailto:prashanth.pottola@gmail.com" role="button">Contact</a>
      </div>
    </div>
  </div>
</nav>


<div class="container mt-5 mycontainer">
  <h1>Login</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>

        </div>
      </div>
    </div>

    <div class="col-sm-4 google-down">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign in with Google
          </a>
        </div>
      </div>
      <div class="recontainer">
        <div clas="extra-text" style="text-align: center;">Don't have an account?</div>
        <a class="rebutton" style="text-decoration: none;" href="\Register">Register</a>
        </div>
    </div> 

  </div>
</div>

<%- include('partials/footer') %>
